<section>
  <% if flash.has?(:error) %>
    <b><%= flash[:error] %></b>
  <% end %>

  <h2>Login</h2>

<form action="/login" method="POST">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">
    <br>
    <br>
    <p>OR log in with email<p>
    <br>
    <input type="text" placeholder="Enter Email" name="email">
    <br>
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <p>New to Concert Scrapbook? <a href="/signup">Create A New Account</a>
  </div>
</form>
