<h1>Welcome, <%=@user.username%>!</h1>


<% if @concerts.empty? %>
<h3>You don't have any concerts yet! <a href="/new-concert">Create a new concert</a></h3>
<% else %>
<form action="/myconcerts">
    <h4>Concerts I've attended</h4>
    <button type="submit">View Concerts</button>
</form>
<br>
<form action="/myartists">
    <h4>Artists I've Seen</h4>
    <button type="submit">View Artists</button>
</form>
<form action="/myconcerts">
    <h4>Venues I've Visited</h4>
    <button type="submit">View Venues</button>
</form>
<%end%>
