<h1>Concerts I've Attended At <%=@venue.name%></h1>
<br>
<p style="border:1px solid #ccc"></p>
<%@venue_concerts.each do |concert|%>
<h4><%=concert.artist.name%> on <%=concert.date%></h4>
<br>
<p style="border:1px solid #ccc"></p>
<%end%>
