<h1 class="text-center">Welcome To Your Concert Scrapbook!</h1>
<div class="container">
  <button type="button" class="btn btn-light btn-lg"><a href="/signup">Sign Up</a></button> OR <button type="button" class="btn btn-secondary btn-lg"><a href="/login">Log In</a></button>
</div>
